extends layout

block content

    h1.hdg profile

    ul
        li
            img(class="avatar" src=avatarUrl alt="profile avatar")
        li= email
        li= provider
        li= token
        li= rating
        li= joinDate

    a(class="link" href="profile/destroy") Delete Profile
